
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-lg-8">
    <form id="formContact" name="formContact" action="#" class="form-horizontal" role="form" method="post">
        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <div class="col-lg-push-1 col-lg-2">
                    <input style="margin-top: 12px; margin-left: 16px;" type="checkbox" />
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="contact-Message" class="col-lg-2 control-label">Message</label>

            <div class="col-lg-10">
                <textarea name="contactMessage" id="contact-Message" class="form-control" placeholder="Message" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button id="send_btn" type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </form>
</div>
